.popup {
    position: absolute;
    border: 6px solid #393;
    background-color: #393;
    color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.popup-content {
    overflow: hidden;
}
.popup-anchor {
    /* 制作三角箭头 */
    border: 5px solid transparent;

    /* 定位露出 */
    position: absolute;

    /* 水平居中 */
    left: 50%;
    margin-left: -5px; /* border */

    /* 必须有width才能定位，但不能显示字 */
    font-size: 0;
    height: 0;
    overflow: hidden;
}
.popup-above>.popup-anchor {
    /* 向下露出 */
    border-top-color: #393;
    top: auto;
    bottom: -16px; /* border * 2 + padding */
}
.popup-below>.popup-anchor {
    /* 向上露出 */
    border-bottom-color: #393;
    top: -16px; /* border * 2 + padding */
    bottom: auto;
}

.toolbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
    z-index: 10;
    background-color: rgba(0, 0, 0, 1);
}
.toolbar.active {
    height: 70px;
    opacity: 1;
}
.info-bar {
    height: 26px;
    line-height: 26px;
    color: #fff;
    overflow: hidden;
}
.menu-bar {
    /* 不能选择 */
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    /* 默认隐藏 */
    opacity: 0;
    height: 0;
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-flex: 200;
    -moz-box-flex: 200;
    box-flex: 200;
}
.menu-bar>.toolbar-item {
    display: block;
    height: 62px;
    width: 62px;
    border: 4px solid #fff;
    margin: 0 4px;
    background: transparent none no-repeat 0 0;
    text-indent: -500em;
}
/* 鼠标移上时切换 */
.toolbar:hover>.info-bar {
    display: none;
}
.toolbar:hover>.menu-bar {
    -webkit-transition: opacity .2s linear;
    height: auto;
    opacity: 1;
}
.info-section {
    float: left;
}
.info-version {
    float: right;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 6px;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: #000;
    opacity: .4;
}
.modal-frame {
    position: absolute;
    z-index: 200;
    border: 2px solid #00a5e7;
    background: #fff;
    padding: 8px;
}