.popup {
    position: absolute;
    border: 6px solid #393;
    background-color: #393;
    color: #fff;
}
.popup-content {
    overflow: hidden;
}
.popup-anchor {
    /* 制作三角箭头 */
    border: 5px solid transparent;

    /* 定位露出 */
    position: absolute;

    /* 水平居中 */
    left: 50%;
    margin-left: -5px; /* border */

    /* 必须有width才能定位，但不能显示字 */
    font-size: 0;
    height: 0;
    overflow: hidden;
}
.popup-above>.popup-anchor {
    /* 向下露出 */
    border-top-color: #393;
    top: auto;
    bottom: -16px; /* border * 2 + padding */
}
.popup-below>.popup-anchor {
    /* 向上露出 */
    border-bottom-color: #393;
    top: -16px; /* border * 2 + padding */
    bottom: auto;
}