#root {
    padding: 8px;
}
.property {
    overflow: hidden;
    margin: 6px 0;
}
.key {
    float: left;
    font-weight: bold;
}
.key::before {
    content: "\2022\00A0";
    color: #ccc;
}
.key::after {
    content: ":\00A0";
}
.array-content, .object-content {
    padding-left: 4ex;
}
.value.object>.object-content {
    padding-left: 3ex;
}
/* 键值对时的]和}缩进，但在数组内容中不能缩进，所以加.proeprty>.value>前缀 */
.property>.value>.array-end, .property>.value>.object-end {
    padding-left: 2ex;
}

/* 折叠效果 */
.object>.key::before, .array>.key::before {
    content: "-\00A0";
    color: #000;
}
.collapsed>.key::before, .collapsed>.key::before {
    content: "+\00A0";
    color: #000;
}
.collapsed>.value>.array-content, .collapsed>.value>.object-content {
    display: none;
}
.collapsed>.value>.array-end, .collapsed>.value>.object-end {
    padding-left: 0;
}
.collapsed>.value>.array-start::after, .collapsed>.value>.object-start::after {
    content: "...";
    color: gray;
}

/* 不同类型的配置 */
.string>.value>span, .value.string>span {
    color: green;
    white-space: pre;
}
.null>.value>span, .value.null>span, 
.undefined>.value>span, .value.undefined>span {
    color: gray;
}
.boolean>.value>span, .value.boolean>span {
    color: blue;
}